@font-face {
  font-family: "iconfont"; /* Project id 3839767 */
  src: url('iconfont.woff2?t=1683772946133') format('woff2'),
       url('iconfont.woff?t=1683772946133') format('woff'),
       url('iconfont.ttf?t=1683772946133') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-logistics-airfreight:before {
  content: "\e82e";
}

.icon-logistics-data-fill:before {
  content: "\e82f";
}

.icon-logistics-land-transport:before {
  content: "\e830";
}

.icon-money-dollar:before {
  content: "\e831";
}

.icon-bad-fill:before {
  content: "\e838";
}

.icon-bad:before {
  content: "\e83b";
}

.icon-delete-fill:before {
  content: "\e83c";
}

.icon-favorites-fill:before {
  content: "\e83f";
}

.icon-favorites:before {
  content: "\e846";
}

.icon-good-fill:before {
  content: "\e84c";
}

.icon-follow:before {
  content: "\e84d";
}

.icon-follow-fill:before {
  content: "\e84e";
}

.icon-smile:before {
  content: "\e84f";
}

.icon-settings:before {
  content: "\e850";
}

.icon-global:before {
  content: "\e858";
}

.icon-shilikapian:before {
  content: "\e87d";
}

.icon-shidirenzheng:before {
  content: "\e87c";
}

.icon-hangyejingzhengli:before {
  content: "\e882";
}

.icon-hangyebaogao:before {
  content: "\e883";
}

.icon-wangpuzhuangxiu:before {
  content: "\e884";
}

.icon-location-fill:before {
  content: "\e83e";
}

.icon-unlock:before {
  content: "\e845";
}

.icon-view:before {
  content: "\e848";
}

.icon-view-fill:before {
  content: "\e84b";
}

.icon-customer-service:before {
  content: "\e851";
}

.icon-square:before {
  content: "\e869";
}

.icon-trust:before {
  content: "\e86f";
}

.icon-lvsehuanbaohuichang:before {
  content: "\e87a";
}

.icon-ashbin:before {
  content: "\e665";
}

.icon-check-item:before {
  content: "\e667";
}

.icon-download:before {
  content: "\e66c";
}

.icon-elipsis:before {
  content: "\e66e";
}

.icon-good:before {
  content: "\e673";
}

.icon-link:before {
  content: "\e676";
}

.icon-navigation:before {
  content: "\e67a";
}

.icon-refresh:before {
  content: "\e67f";
}

.icon-tap:before {
  content: "\e86d";
}

.icon-vip:before {
  content: "\e873";
}

.icon-wifi:before {
  content: "\e875";
}

.icon-sousuopaixu:before {
  content: "\e87f";
}

.icon-youzhimaoyiqu:before {
  content: "\e881";
}

.icon-search:before {
  content: "\e843";
}

.icon-volume:before {
  content: "\e847";
}

.icon-zoom-in:before {
  content: "\e849";
}

.icon-zoom-out:before {
  content: "\e84a";
}

.icon-email:before {
  content: "\e856";
}

.icon-phone:before {
  content: "\e860";
}

.icon-pin:before {
  content: "\e863";
}

.icon-response-fill:before {
  content: "\e865";
}

.icon-table:before {
  content: "\e86c";
}

.icon-mobile-phone:before {
  content: "\e85c";
}

.icon-business-icon-sales-center:before {
  content: "\e824";
}

.icon-cart-full:before {
  content: "\e826";
}

.icon-cart-search:before {
  content: "\e827";
}

.icon-cart-empty:before {
  content: "\e828";
}

.icon-customer-businessman-fill:before {
  content: "\e829";
}

.icon-customer-bussinessman:before {
  content: "\e82a";
}

.icon-editor-center-alignment:before {
  content: "\e82b";
}

.icon-editor-right-alignment:before {
  content: "\e82c";
}

.icon-editor-left-alignment:before {
  content: "\e82d";
}

.icon-money-wallet:before {
  content: "\e833";
}

.icon-order:before {
  content: "\e834";
}

.icon-time:before {
  content: "\e835";
}

.icon-add:before {
  content: "\e836";
}

.icon-atm:before {
  content: "\e837";
}

.icon-down-arrow:before {
  content: "\e839";
}

.icon-close:before {
  content: "\e83a";
}

.icon-left-arrow:before {
  content: "\e83d";
}

.icon-selected:before {
  content: "\e840";
}

.icon-remind-fill:before {
  content: "\e841";
}

.icon-right-arrow:before {
  content: "\e842";
}

.icon-up-arrow:before {
  content: "\e844";
}

.icon-keyboard_arrow_down:before {
  content: "\e602";
}

.icon-arrow_drop_down:before {
  content: "\e603";
}

.icon-check:before {
  content: "\e604";
}

.icon-keyboard_arrow_right:before {
  content: "\e605";
}

.icon-weibiaoti-:before {
  content: "\e622";
}

.icon-a-buguangdengzidong:before {
  content: "\e65c";
}

.icon-xuejing:before {
  content: "\e67b";
}

.icon-yintian:before {
  content: "\e67c";
}

.icon-a-HDRzidong-1:before {
  content: "\e67e";
}

.icon-a-1080p:before {
  content: "\e67d";
}

